* {
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide_div {
    width: 100%;
    height: 400%;
    position: absolute;
}

.slide_page {
    width: 100%;
    height: calc(100% / 4);
    background-size: 100% 100% !important;
}
.slide_page_1 {
    background: url(../img/pic1.jpg) no-repeat;
}

.slide_page_2 {
    background: url(../img/pic2.jpg) no-repeat;
}

.slide_page_3 {
    background: url(../img/pic3.jpg) no-repeat;
}

.slide_page_4 {
    background: url(../img/pic4.jpg) no-repeat;
}

.slide_page:before {
    content: '';
    position: absolute;
    width: 47px;
    height: 47px;
    margin-left: -23px;
    background: url(../img/arrow.png) no-repeat center 0;
    -webkit-animation: start 1.5s infinite ease-in-out;
    -moz-animation: start 1.5s infinite ease-in-out;
    -ms-animation: start 1.5s infinite ease-in-out;
    -o-animation: start 1.5s infinite ease-in-out;
    animation: start 1.5s infinite ease-in-out;
}
.slide_page_1:before {
    left: 50%;
    top: calc(100% / 4  - 2.5%);
}
.slide_page_2:before {
    left: 50%;
    top: calc(100% / 4 * 2 - 2.5%);
}
.slide_page_3:before {
    left: 50%;
    top: calc(100% / 4 * 3 - 2.5%);
}
.slide_page_4:before {
    content: none;
}


@-webkit-keyframes start {
    0%,30% {opacity: 0;-webkit-transform: translate(0,10px);}
    60% {opacity: 1;-webkit-transform: translate(0,0);}
    100% {opacity: 0;-webkit-transform: translate(0,8px);}
}
@-moz-keyframes start {
    0%,30% {opacity: 0;-moz-transform: translate(0,10px);}
    60% {opacity: 1;-moz-transform: translate(0,0);}
    100% {opacity: 0;-moz-transform: translate(0,8px);}
}
@-ms-keyframes start {
    0%,30% {opacity: 0;-ms-transform: translate(0,10px);}
    60% {opacity: 1;-ms-transform: translate(0,0);}
    100% {opacity: 0;-ms-transform: translate(0,8px);}
}
@-o-keyframes start {
    0%,30% {opacity: 0;-o-transform: translate(0,10px);}
    60% {opacity: 1;-o-transform: translate(0,0);}
    100% {opacity: 0;-o-transform: translate(0,8px);}
}
@-keyframes start {
    0%,30% {opacity: 0;transform: translate(0,10px);}
    60% {opacity: 1;transform: translate(0,0);}
    100% {opacity: 0;transform: translate(0,8px);}
}

/************  slide up **************/
.slide_animate_up_1 {
    -webkit-animation:slide_up_1 .5s ease both;
    -moz-animation:slide_up_1 .5s ease both;
    -ms-animation:slide_up_1 .5s ease both;
    -o-animation:slide_up_1 .5s ease both;
    animation:slide_up_1 .5s ease both;
}
.slide_animate_up_2 {
    -webkit-animation:slide_up_2 .5s ease both;
    -moz-animation:slide_up_2 .5s ease both;
    -ms-animation:slide_up_2 .5s ease both;
    -o-animation:slide_up_2 .5s ease both;
    -webkit-animation:slide_up_2 .5s ease both;
}
.slide_animate_up_3 {
    -webkit-animation:slide_up_3 .5s ease both;
    -moz-animation:slide_up_3 .5s ease both;
    -ms-animation:slide_up_3 .5s ease both;
    -o-animation:slide_up_3 .5s ease both;
    animation:slide_up_3 .5s ease both;
}

@-webkit-keyframes slide_up_1 {
    100% {
       -webkit-transform:translateY(calc(-100% / 4));
    }
}
@-moz-keyframes slide_up_1 {
    100% {
       -moz-transform:translateY(calc(-100% / 4));
    }
}
@-ms-keyframes slide_up_1 {
    100% {
       -ms-transform:translateY(calc(-100% / 4));
    }
}
@-o-keyframes slide_up_1 {
    100% {
       -o-transform:translateY(calc(-100% / 4));
    }
}
@-keyframes slide_up_1 {
    100% {
       transform:translateY(calc(-100% / 4));
    }
}

@-webkit-keyframes slide_up_2 {
    0% {
        -webkit-transform:translateY(calc(-100% * 1/4));
    }
    100% {
        -webkit-transform:translateY(calc(-100% * 2/4));
    }
}
@-moz-keyframes slide_up_2 {
    0% {
        -moz-transform:translateY(calc(-100% * 1/4));
    }
    100% {
        -moz-transform:translateY(calc(-100% * 2/4));
    }
}
@-ms-keyframes slide_up_2 {
    0% {
        -ms-transform:translateY(calc(-100% * 1/4));
    }
    100% {
        -ms-transform:translateY(calc(-100% * 2/4));
    }
}
@-o-keyframes slide_up_2 {
    0% {
        -o-transform:translateY(calc(-100% * 1/4));
    }
    100% {
        -o-transform:translateY(calc(-100% * 2/4));
    }
}
@-keyframes slide_up_2 {
    0% {
        transform:translateY(calc(-100% * 1/4));
    }
    100% {
        transform:translateY(calc(-100% * 2/4));
    }
}

@-webkit-keyframes slide_up_3 {
    0% {
        -webkit-transform:translateY(calc(-100% * 2/4));
    }
    100% {
        -webkit-transform:translateY(calc(-100% * 3/4));
    }
}
@-moz-keyframes slide_up_3 {
    0% {
        -moz-transform:translateY(calc(-100% * 2/4));
    }
    100% {
        -moz-transform:translateY(calc(-100% * 3/4));
    }
}
@-ms-keyframes slide_up_3 {
    0% {
        -ms-transform:translateY(calc(-100% * 2/4));
    }
    100% {
        -ms-transform:translateY(calc(-100% * 3/4));
    }
}
@-o-keyframes slide_up_3 {
    0% {
        -o-transform:translateY(calc(-100% * 2/4));
    }
    100% {
        -o-transform:translateY(calc(-100% * 3/4));
    }
}
@-keyframes slide_up_3 {
    0% {
        transform:translateY(calc(-100% * 2/4));
    }
    100% {
        transform:translateY(calc(-100% * 3/4));
    }
}

/************  slide down **************/
.slide_animate_down_0 {
    -webkit-animation:slide_down_0 .5s ease both;
    -moz-animation:slide_down_0 .5s ease both;
    -ms-animation:slide_down_0 .5s ease both;
    -o-animation:slide_down_0 .5s ease both;
    animation:slide_down_0 .5s ease both;
}
.slide_animate_down_1 {
    -webkit-animation:slide_down_1 .5s ease both;
    -moz-animation:slide_down_1 .5s ease both;
    -ms-animation:slide_down_1 .5s ease both;
    -o-animation:slide_down_1 .5s ease both;
    animation:slide_down_1 .5s ease both;
}
.slide_animate_down_2 {
    -webkit-animation:slide_down_2 .5s ease both;
    -moz-animation:slide_down_2 .5s ease both;
    -ms-animation:slide_down_2 .5s ease both;
    -o-animation:slide_down_2 .5s ease both;
    animation:slide_down_2 .5s ease both;
}

@-webkit-keyframes slide_down_0 {
    0% {
        -webkit-transform:translateY(calc(-100% / 4));
    }
    100% {
        -webkit-transform:translateY(0px);
    }
}
@-moz-keyframes slide_down_0 {
    0% {
        -moz-transform:translateY(calc(-100% / 4));
    }
    100% {
        -moz-transform:translateY(0px);
    }
}
@-ms-keyframes slide_down_0 {
    0% {
        -ms-transform:translateY(calc(-100% / 4));
    }
    100% {
        -ms-transform:translateY(0px);
    }
}
@-o-keyframes slide_down_0 {
    0% {
        -o-transform:translateY(calc(-100% / 4));
    }
    100% {
        -o-transform:translateY(0px);
    }
}
@-keyframes slide_down_0 {
    0% {
        transform:translateY(calc(-100% / 4));
    }
    100% {
        transform:translateY(0px);
    }
}


@-webkit-keyframes slide_down_1 {
    0% {
        -webkit-transform:translateY(calc(-100% * 2/4));
    }
    100% {
        -webkit-transform:translateY(calc(-100% * 1/4));
    }
}
@-moz-keyframes slide_down_1 {
    0% {
        -moz-transform:translateY(calc(-100% * 2/4));
    }
    100% {
        -moz-transform:translateY(calc(-100% * 1/4));
    }
}
@-ms-keyframes slide_down_1 {
    0% {
        -ms-transform:translateY(calc(-100% * 2/4));
    }
    100% {
        -ms-transform:translateY(calc(-100% * 1/4));
    }
}
@-o-keyframes slide_down_1 {
    0% {
        -o-transform:translateY(calc(-100% * 2/4));
    }
    100% {
        -o-transform:translateY(calc(-100% * 1/4));
    }
}
@-keyframes slide_down_1 {
    0% {
        transform:translateY(calc(-100% * 2/4));
    }
    100% {
        transform:translateY(calc(-100% * 1/4));
    }
}


@-webkit-keyframes slide_down_2 {
    0% {
        -webkit-transform:translateY(calc(-100% * 3/4));
    }
    100% {
        -webkit-transform:translateY(calc(-100% * 2/4));
    }
}
@-moz-keyframes slide_down_2 {
    0% {
        -moz-transform:translateY(calc(-100% * 3/4));
    }
    100% {
        -moz-transform:translateY(calc(-100% * 2/4));
    }
}
@-ms-keyframes slide_down_2 {
    0% {
        -ms-transform:translateY(calc(-100% * 3/4));
    }
    100% {
        -ms-transform:translateY(calc(-100% * 2/4));
    }
}
@-o-keyframes slide_down_2 {
    0% {
        -o-transform:translateY(calc(-100% * 3/4));
    }
    100% {
        -o-transform:translateY(calc(-100% * 2/4));
    }
}
@-keyframes slide_down_2 {
    0% {
        transform:translateY(calc(-100% * 3/4));
    }
    100% {
        transform:translateY(calc(-100% * 2/4));
    }
}