* {
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide_div {
    width: 100%;
    height: 100%;

}
.hide {
    display: none;
}
.current {
    display: block;
}

.slide_page {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: 100% 100% !important;
}
.slide_page_1 {
    background: url(../img/pic1.jpg) no-repeat;
}

.slide_page_2 {
    background: url(../img/pic2.jpg) no-repeat;
}

.slide_page_3 {
    background: url(../img/pic3.jpg) no-repeat;
}

.slide_page_4 {
    background: url(../img/pic4.jpg) no-repeat;
}
.slide_page_5 {
    background: url(../img/pic1.jpg) no-repeat;
}
.slide_page:before {
    content: '';
    position: absolute;
    width: 47px;
    height: 47px;
    margin-left: -23px;
    background: url(../img/arrow.png) no-repeat center 0;
    -webkit-animation: start 1.5s infinite ease-in-out;
    -moz-animation: start 1.5s infinite ease-in-out;
    -ms-animation: start 1.5s infinite ease-in-out;
    -o-animation: start 1.5s infinite ease-in-out;
    animation: start 1.5s infinite ease-in-out;
}
.slide_page_1:before {
    left: 50%;
    bottom:3%;
}
.slide_page_2:before {
    left: 50%;
    bottom:3%;
}
.slide_page_3:before {
    left: 50%;
    bottom:3%;
}
.slide_page_4:before {
    content: none;
}

@-webkit-keyframes start {
    0%,30% {opacity: 0; -webkit-transform: translate(0,10px);}
    60% {opacity: 1; -webkit-transform: translate(0,0);}
    100% {opacity: 0; -webkit-transform: translate(0,8px);}
}
@-moz-keyframes start {
    0%,30% {opacity: 0; -moz-transform: translate(0,10px);}
    60% {opacity: 1; -moz-transform: translate(0,0);}
    100% {opacity: 0; -moz-transform: translate(0,8px);}
}
@-ms-keyframes start {
    0%,30% {opacity: 0; -ms-transform: translate(0,10px);}
    60% {opacity: 1; -ms-transform: translate(0,0);}
    100% {opacity: 0; -ms-transform: translate(0,8px);}
}
@-o-keyframes start {
    0%,30% {opacity: 0; -o-transform: translate(0,10px);}
    60% {opacity: 1; -o-transform: translate(0,0);}
    100% {opacity: 0; -o-transform: translate(0,8px);}
}
@-keyframes start {
    0%,30% {opacity: 0; transform: translate(0,10px);}
    60% {opacity: 1; transform: translate(0,0);}
    100% {opacity: 0; transform: translate(0,8px);}
}


/************  slide up **************/
.moveToTop {
    -webkit-animation: toTop .5s ease both;
    -moz-animation: toTop .5s ease both;
    -ms-animation: toTop .5s ease both;
    -o-animation: toTop .5s ease both;
    animation: toTop .5s ease both;
}

.moveFromTop {
    -webkit-animation: fromTop .5s ease both;
    -moz-animation: fromTop .5s ease both;
    -ms-animation: fromTop .5s ease both;
    -o-animation: fromTop .5s ease both;
    animation: fromTop .5s ease both;
}

.moveToBottom {
    -webkit-animation: toBottom .5s ease both;
    -moz-animation: toBottom .5s ease both;
    -ms-animation: toBottom .5s ease both;
    -o-animation: toBottom .5s ease both;
    animation: toBottom .5s ease both;
}

.moveFromBottom {
    -webkit-animation: fromBottom .5s ease both;
    -moz-animation: fromBottom .5s ease both;
    -ms-animation: fromBottom .5s ease both;
    -o-animation: fromBottom .5s ease both;
    animation: fromBottom .5s ease both;
}

@-webkit-keyframes toTop {
    from { }
    to { -webkit-transform: translateY(-100%); }
}
@-moz-keyframes toTop {
    from { }
    to { -moz-transform: translateY(-100%); }
}
@-ms-keyframes toTop {
    from { }
    to { -ms-transform: translateY(-100%); }
}
@-o-keyframes toTop {
    from { }
    to { -o-transform: translateY(-100%); }
}
@-keyframes toTop {
    from { }
    to { transform: translateY(-100%); }
}

@-webkit-keyframes fromTop {
    from { -webkit-transform: translateY(-100%); }
}
@-moz-keyframes fromTop {
    from { -moz-transform: translateY(-100%); }
}
@-ms-keyframes fromTop {
    from { -ms-transform: translateY(-100%); }
}
@-o-keyframes fromTop {
    from { -o-transform: translateY(-100%); }
}
@-webkit-keyframes fromTop {
    from { -webkit-transform: translateY(-100%); }
}

@-webkit-keyframes toBottom {
    from { }
    to { webkit-transform: translateY(100%); }
}
@-moz-keyframes toBottom {
    from { }
    to { -moz-transform: translateY(100%); }
}
@-ms-keyframes toBottom {
    from { }
    to { -ms-transform: translateY(100%); }
}
@-o-keyframes toBottom {
    from { }
    to { -o-transform: translateY(100%); }
}
@-webkit-keyframes toBottom {
    from { }
    to { webkit-transform: translateY(100%); }
}

@-webkit-keyframes fromBottom {
    from { -webkit-transform: translateY(100%); }
}
@-moz-keyframes fromBottom {
    from { -moz-transform: translateY(100%); }
}
@-ms-keyframes fromBottom {
    from { -ms-transform: translateY(100%); }
}
@-o-keyframes fromBottom {
    from { -o-transform: translateY(100%); }
}
@-keyframes fromBottom {
    from { transform: translateY(100%); }
}